*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('imagem/fundo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img{
    height: 450px;
    margin: 190px 0px;
}

.textapre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textapre p {
    color: #c65038;
    font-size: 48px;
    margin: 20px 0px;
}

.textname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.textname h1 {
    color: #c65038;
    font-size: 95px;
    margin: 20px 0px;
}

.textinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textinfo p {
    color: #c65038;
    font-size: 48px;
}

.confirm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm p {
    color: #c65038;
    font-size: 48px;
}

.buttonicon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    height: 250px;
}

.btn {
    border: solid;
    border-color: #c65038;
    padding: 15px 10px;
    border-radius: 15px;
    margin-top: 15px;
}

.icons {
    display: block;
    padding-left: 150px;
}

.icons a {
    text-decoration: none;
}

.icons p {
    color: #e2725b;
    font-size: 30px;
    padding-top: 15px;
}

.icons img {
    height: 60px;
}

@media(max-width: 1742px) {

    .textname h1 {
        font-size: 75px;
    }

    .textapre p {
        font-size: 40px;
    }

    .textinfo p {
        font-size: 40px;
    }

    .confirm p {
        font-size: 40px;
    }
}

@media(max-width: 1450px) {

    .textname h1 {
        font-size: 60px;
    }

    .textapre p {
        font-size: 30px;
    }

    .textinfo p {
        font-size: 30px;
    }

    .confirm p {
        font-size: 40px;
    }
}

@media(max-width: 1115px) {

    .textname h1 {
        font-size: 45px;
    }

    .textapre p {
            font-size: 25px;
    }

    .textinfo p {
        font-size: 25px;
        text-align: center;
    }

    .confirm p {
        font-size: 25px;
        text-align: center;
    }
}

@media(max-width: 928px) {
    .textinfo p {
        width: 80%;
    }
}

@media(max-width: 800px) {
    body{
        background: url('imagem/fundo1834_800.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media(max-width: 583px) {
    body {
        background: url('imagem/fundo400_672.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top img {
        height: 270px;
        margin: 70px 0px;
        padding-top: 20px;
    }

    .textapre p {
        font-size: 20px;
        text-align: center;
        width: 70%;
    }
}

@media(max-width: 400px) {
    body {
        background: url('imagem/fundo1834_400.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}